* {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  height: 4.5em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00b0ff;
  overflow: hidden;
  /* position: fixed; */
  margin-bottom: 1em;
}

a.logo {
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-stretch: semi-condensed;
  color: white;
  font-size: 2.5em;
  font-variant: small-caps;
}

.navbar-Links a {
  text-decoration: none;
  font-family: 'Trebuchet MS';
  font-stretch: semi-condensed;
  color: white;
  font-size: 1.0em;
}

.navbar-Links{
  margin: 0;
  padding: 0;
}

li a:hover {
  color: #111;
}

li {
  text-decoration: none;
  display: block;
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Trebuchet MS';
  font-stretch: semi-condensed;
}

.dashboard-component {
  display: flex;
  justify-content: space-evenly;
}

.receipt-detail-table {
  display: grid;
  float: left;
  width: 60%;
  margin: 5px;
}

.receipt-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.25rem;
  text-align: center;
  font-family:  sans-serif
}

th {
  background: #eee;
  font-family: 'Trebuchet MS';
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background:#ECF0F1;
}

td {
  font-family: 'Trebuchet MS';
  font-weight: 200;
  font-size: 2.5vh
}

button.material-icons {
  border: none;
  border-radius: 5pt;
  font-size: 1.2em;
  cursor: pointer;
  margin: 3pt
}

button.material-icons:hover {
  background-color: lightcoral
}

.spending-Componenet {
  background: lightskyblue;
  float: left;
  width: 35%;
  margin: 5px;
  border-radius: 5px;
}

.image-upload {
  /* background: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 60%;
  margin: 5px;
  margin-left:25px;
}

.upload-button {
  width: 15%;
  background-color: rgb(74, 158, 238);
  border: none;
  padding: 5px 17px;
  min-height: 1em;
  margin: 4px 2px;
  border-radius: .28571429rem;
  color: white;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.upload-button:hover {
  color: #111;
}

 div.container-section-project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS';
}

.container-section-project-details p {
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 40px;
}

input.input-for-edit {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid 00b0ff;
  border-radius: 4px;
}

.finish-edit-button {
  width: 90%;
  background-color: rgb(18, 179, 179);
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  min-height: 1em;
  margin: 4px 2px;
  border-radius: .28571429rem;
  color: white;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  cursor: pointer;
}

form button, form h5 {
  margin: 20px 0;
}

h1 {
  font-size: 1rem;
  margin: auto;
}

img.image-receipt {
  max-height: 25rem;
  max-width: 25rem;
}

.login-signin-container {
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS';
}

input.login-signin-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid 00b0ff;
  border-radius: 4px;
}

button.login-signin-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  background: #2185d0 none;
  color: white;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
} 
.inputfile + label {
  font-size: 1em;
  font-weight: 200;
  color: rgb(74, 158, 238);
  border: 2px solid currentColor;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
color:darkblue
}
