* {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr
}

.nav-wrapper {
  width: 100%;
  background-color: #00b0ff;
  overflow: hidden;
  margin-bottom: 1em;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

a.logo {
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-stretch: semi-condensed;
  color: #D9E9F4;
  font-size: 2.5em;
  font-variant: small-caps;
}

.navbar-Links a {
  text-decoration: none;
  font-family: 'Trebuchet MS';
  font-stretch: semi-condensed;
  color: white;
  font-size: 1.0em;
}

.navbar-Links{
  margin: 0;
  padding: 0;
}

li a:hover {
  color: #111;
}

li {
  text-decoration: none;
  display: block;
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Trebuchet MS';
  font-stretch: semi-condensed;
}

.dashboard-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.receipt-detail-table-container {
  display: grid;
  margin: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 10px 10px -10px black;
	   -moz-box-shadow: 0 10px 10px -10px black;
	        box-shadow: 0 10px 10px -10px black;
}

.grid-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  border-top-left-radius: 5px ;
  border-top-right-radius: 5px;
  height: 43px;
  font-weight: bold;
  align-items: center;
  color: #DADDD8;
  background: #027BCE;

}

.receipt-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  height: 50px;
  align-items: center;
}

.receipt-row:nth-child(odd) {
  background: #D9E9F4;
}

.receipt-edit-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  height: 60px;
  align-items: center;
}

.cell {
  margin-left: 20px;
}

.image-upload-container {
  display: flex;
  justify-content: center;
}

.spending-Component {
  background: lightskyblue;
  float: left;
  margin: 10px;
  border-radius: 5px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 10px;
  font-weight:600;
  color: #3E6680;
  border: 2px groove currentColor;
  border-radius: 5px;
  width: 30%;
  height: 30px;
  line-height: 30px;

  padding-left: 10px;
  overflow: hidden;
}

.inputfile:focus + label,
.inputfile + label:hover {
color:#00b0ff;
border-color: #00b0ff;;
}

.upload-button {
  width: 10%;
  background-color: #00b0ff;
  border: none;
  min-height: 1em;
  height: 30px;
  margin-left: 4px;
  margin-bottom: 4px;
  border-radius: 5px;
  color:#00487C;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
}

.upload-button:hover {
  border: .5px groove currentColor;
  background: #4BB3FD;
  border-color: #00b0ff;
}


 div.container-section-project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS';
}

.container-section-project-details p {
  font-weight: 500;
}

input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid 00b0ff;
  border-radius: 4px;
}

.ui.blue.positive.button {
  width: 35%;
  color: #D4DCFF
}

.blue.picture.large.icon:hover {
  cursor: pointer;
}

.edit-div {
  display: inline-block;
}

.edit-div .edit-text {
  visibility: hidden;
  width: 60px;
  padding: 5px 0;
  z-index: 1;
  left: 50%;
  margin-left: -30px;
  border-radius: 6px;
}

.edit-div:hover .edit-text {
  cursor: pointer;
  visibility: visible;
}


.minus-min {
  display: none;
}

.red.minus.large.icon:hover {
  cursor: pointer;
}

.red.minus.large.icon:hover .minus-min {
  display: block;
}


.delete-div {
  display: inline-block;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img.image-receipt {
  max-height: 35rem;
  max-width: 35rem;
}


/* Signup and Login Design*/
.login-signin-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}


.firstName,
.lastName {
  width: 49%;
}

.email,
.password {
  width: 100%;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

button.login-signin-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  background: #2185d0 none;
  color: white;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  width: 100%;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
}

button.login-signin-button:hover {
  background: #279AF1
}

input {
  padding: 13px 15px;
  border-radius: 5px;
  margin: 8px 0;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 2px solid red;
}
.errorMessage {
  color: red;
  font-size: .95em;
  display: relative;
  margin-bottom: .5em;
}
